<html>
<head>
  <link rel="stylesheet" href="css/app.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mite &ndash; Pure SQL Migration Utility</title>
</head>
<body>

  <div class="row" id="content">
    <div class="col-sm-3 side-nav hidden-xs">
      <ul class="nav">
        <li><a href="#home">Home</a></li>
        <li><a href="#tenets">Tenets of Mite</a></li>
        <li><a href="#installation">Installing Mite</a></li>

        <li><a href="#getting-started">Getting Started</a></li>
        <ul>
          <li><a href="#new-project">For new projects</a></li>
          <li><a href="#existing-project">For existing projects</a></li>
        </ul>

        <li><a href="#first-migration">Your first migration</a></li>
        <li><a href="#license">License</a></li>
      </ul>
    </div>
    <div class="col-sm-6 col-xs-10 col-xs-offset-1">
      {{ content }}
    </div>
  </div>

  <div class="footer">
    <div class="copy">
      <p>Copyright &copy; 2014 Davis Clark</p>
    </div>
  </div>

  <script src="js/build.js"></script>

  <a href="https://github.com/jdc0589/mite-node"><img style="position: fixed; top: 0; right: 0; border: 0;" src="img/forkme.png" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>

  <!-- Dev mode scripts (unminified) -->
  <!-- <script src="js/components.js"></script>
  <script src="js/app.js"></script>-->

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49691102-1', 'mitejs.io');
    ga('send', 'pageview');

  </script>
</body>
</html>
